* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #1e1e24;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    gap: 20px;
}

/* O Grid cuida das 8 colunas automaticamente sem precisar de flex-wrap */
.tabuleiro {
    display: grid;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8, 50px);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.casa {
    width: 50px;
    height: 50px;
    background-color: #eeeed2; /* Tom claro estilo xadrez */
}

.preto {
    background-color: #769656; /* Tom verde/escuro clássico */
}